manifest {
   mainScript = 'main.nf'
}

trace {
   enabled = true
   overwrite = true
   file = '_trace_RS1_D1_star_droso'
   fields = 'task_id, hash, native_id, process, tag, name, status, exit, module, container, cpus, time, disk, memory, attempt, submit, start, complete, duration, realtime, queue, %cpu, %mem, rss, vmem, peak_rss, peak_vmem, rchar, wchar, syscr, syscw, read_bytes, write_bytes, vol_ctxt, inv_ctxt, env, workdir, script, scratch, error_action' 
}

report {
   enabled = true
   overwrite = true
   file = '_report_RS1_D1_star_droso.html'
}

timeline {
   enabled = true
   overwrite = true
   file = '_timeline_RS1_D1_star_droso'
}

dag {
   enabled = true
   overwrite = true
   file = '_dag_RS1_D1_star_droso.html'
}


docker {
    enabled = true
}

process{
   executor = 'k8s'
   scratch = true
   nodeSelector = 'usedby=ninon'
   withLabel:ALL {
    pod {
        nodeSelector = 'usedby=ninon'
        }
    }
}

k8s {
    debug {
       yaml = true
    }
   namespace = 'default'
   context = 'ninon'
   runAsUser = 0
   storageClaimName = 'nextflow-ninon'
   storageMountPath = '/workspace'
}


params {
	strand = 'unstranded'
	outdir = 'results'
	csv_input = './input.csv'
	annotation_gtf = '/workspace/ninon/data/Mus_musculus.GRCm39.111.gtf'
	genome = '/workspace/ninon/data/Mus_musculus.GRCm39.dna.toplevel.fa'
	transcripts_fasta = '/workspace/ninon/data/Drosophila_melanogaster.BDGP6.32.cdna.all.fa'
	basedir = '/workspace/projects/Nine-s/eager'
	outdir = '/workspace/ninon/data/results/'
	krakendb = '/workspace/projects/Nine-s/eager/krakendb'
	db_to_dl = 'archaea'
	metagenomic_min_support_reads = 1
	complexity_filter_poly_g_min = 10
	clip_adapters_list = '/workspace/ninon/data/adapter-list.txt'
	clip_forward_adaptor = 'AGATCGGAAGAGCACACGTCTGAACTCCAGTCAC'
	clip_reverse_adaptor = 'AGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGTA'
	preserve5p = False
	skip_collapse = False
	skip_trim = False
	mergedonly = False
	qualitymax = 41
	clip_readlength = 30
	clip_min_read_quality = 20
	min_adap_overlap = 1
	bt2_alignmode = 'local'
	bt2_sensitivity = 'sensitive'
	bt2n = 0
	bt2l = 0
	bt2_trim5 = 0
	bt2_trim3 = 0
	bt2_maxins = 500
	metagenomic_complexity_entropy = 0.3
	bam_unmapped_type = 'discard'
	bam_filter_minreadlength = 0
	bam_mapping_quality_threshold = 0
	large_ref = False
	threads = 16.0
}
